footer.footer
    .container
        .row.align-items-xl-center.py-3
            .col-12.col-lg-4.col-xl-3.mb-10.text-center.text-lg-left
                p.copy Bagyt © 2019
            .col-12.col-lg-4.mb-10.text-center.text-lg-left
                p.social-list-ttl Мы в соц.сетях
                ul.social-list.foo-social-list
                    li
                        a(href="https://www.facebook.com/Bagyt-mdb-new-341508223068227" target="_blank") 
                            i.fab.fa-facebook-f
                    li
                        a(href="https://vk.com/id544209296" target="_blank")
                            i.fab.fa-vk
                    li
                        a(href="https://instagram.com/bagyt_mdb?utm_source=ig_profile_share&igshid=1r0fuu3yzmh2i" target="_blank") 
                            i.fab.fa-instagram
                    li
                        a(href="/" target="_blank") 
                            i.fab.fa-youtube
                    li
                        a(href="/" target="_blank") 
                            i.fab.fa-skype
                    li
                        a(href="/" target="_blank") 
                            i.fab.fa-telegram-plane
            .col-12.col-lg-4.col-xxl-5
                ul.foo-list.d-xxl-flex.justify-content-xxl-between.text-xl-right
                    li
                        a(href="/") Правила пользования сайтом
                    li
                        a(href="/") Политика конфиденциальности
