header#header.header.sticky.px-xl-20.animated.fadeInDown(data-wow-delay="#" data-wow-offset="200")
    .container
        .header-wrapper
            .header-box
                .header-logo-box
                    a.logo(href="#")
                        img(src="img/Logo.png", alt="logo")
                    .header-controls-call.d-xl-none
                        p Заказать звонок
                        a(href="#") +7 789 798 345
                    .hamburger.hamburger--spin.js-hamburger
                        .hamburger-box
                            .hamburger-inner
                    nav.header-nav
                        ul.header-nav-list
                            li.active
                                a(href="#") Что это?
                            li
                                a(href="#") Для кого?
                            li
                                a(href="#") Приемущества
                            li
                                a(href="#") Цены
                            li
                                a(href="#") Для бизнеса
                .header-controls.d-none.d-xl-flex
                    .header-controls-box
                        .header-controls-call
                            p Заказать звонок
                            a(href="tel:+77003770093") +77003770093 
                        .header-controls-social
                            p Мы в соц.сетях             
                            ul.social-list
                                li
                                    a(href="https://www.facebook.com/Bagyt-mdb-new-341508223068227" target="_blank") 
                                        i.fab.fa-facebook-f
                                li
                                    a(href="https://vk.com/id544209296" target="_blank")
                                        i.fab.fa-vk
                                li
                                    a(href="https://instagram.com/bagyt_mdb?utm_source=ig_profile_share&igshid=1r0fuu3yzmh2i" target="_blank") 
                                        i.fab.fa-instagram
                                li
                                    a(href="/" target="_blank") 
                                        i.fab.fa-youtube
                                li
                                    a(href="/" target="_blank") 
                                        i.fab.fa-skype
                                li
                                    a(href="/" target="_blank") 
                                        i.fab.fa-telegram-plane
                    .header-conrols-auth
                        a.btn-wrap.text-weight-bold(href="#") 
                            .btn-content Вход/Регистрация
                .header-nav-mobile
                    .container
                        .header-nav-mobile-box
                            .menu-controls.p-10.d-flex.align-items-center
                                a.logo(href="#")
                                    img(src="img/Logo.png", alt="logo")
                            .header-conrols-auth.text-center
                                a.btn-wrap.text-weight-bold(href="#") 
                                    .btn-content Вход/Регистрация
                            nav.nav-mobile
                                ul.nav-mobile-list
                                    li
                                        a.active(href="#") Что это?
                                    li
                                        a(href="#") Для кого?
                                    li
                                        a(href="#") Приемущества
                                    li
                                        a(href="#") Цены
                                    li
                                        a(href="#") Для бизнеса
                            ul.social-list.social-list-mobile-nav
                                li
                                    a(href="https://www.facebook.com/Bagyt-mdb-new-341508223068227" target="_blank") 
                                        i.fab.fa-facebook-f
                                li
                                    a(href="https://vk.com/id544209296" target="_blank")
                                        i.fab.fa-vk
                                li
                                    a(href="https://instagram.com/bagyt_mdb?utm_source=ig_profile_share&igshid=1r0fuu3yzmh2i" target="_blank") 
                                        i.fab.fa-instagram
                                li
                                    a(href="/" target="_blank") 
                                        i.fab.fa-youtube
                                li
                                    a(href="/" target="_blank") 
                                        i.fab.fa-skype
                                li
                                    a(href="/" target="_blank") 
                                        i.fab.fa-telegram-plane