doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(rel="shortcut icon" href="" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/all.css")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/v4-shims.min.css")
        link(rel='stylesheet' href='plugins/bootstrap/bootstrap.css')
        link(rel='stylesheet' href='plugins/scroll/jquery.mCustomScrollbar.min.css')
        link(rel='stylesheet' href='css/styles.min.css')
        title EmpireHome
    body
        .main-wrapper

            include components/header.pug
                                
            main.content.content-costom
                section.content
                    .container
                        .row.py-2.mb-5
                            .col-12
                                nav(aria-label='breadcrumb')
                                  ol.breadcrumb
                                    li.breadcrumb-item
                                      a(href='#') Главная
                                    li.breadcrumb-item.active(aria-current='page') Контакты
                            .col-12.col-lg-5.mb-4.mb-lg-5
                                h3.mb-5 Контакты
                                div.mb-4
                                    h6.mb-3 Наш адрес
                                    p Украина, Киевская область, Киев, улица Леси Украинки, дом 3, офис 101
                                div.mb-4
                                    h6.mb-3 Телефон
                                    ul
                                        li.mb-1
                                            a(href="") +38 (099) 009 00 00
                                        li.mb-1
                                            a(href="") +38 (099) 113 78 11
                                div.mb-4
                                    h6.mb-3 Почта
                                    ul
                                        li.mb-1
                                            a(href="") bodyartglobal@gmail.com
                                div.pt-4.border-top
                                    h6.mb-3 Мы в соц.сетях
                                    ul.social-list.social-list-costom
                                        li
                                            a(href="https://www.facebook.com/Bagyt-mdb-new-341508223068227" target="_blank") 
                                                i.fab.fa-facebook-f
                                        li
                                            a(href="https://vk.com/id544209296" target="_blank")
                                                i.fab.fa-vk
                                        li
                                            a(href="https://instagram.com/bagyt_mdb?utm_source=ig_profile_share&igshid=1r0fuu3yzmh2i" target="_blank") 
                                                i.fab.fa-instagram
                                        li
                                            a(href="/" target="_blank") 
                                                i.fab.fa-youtube
                                        li
                                            a(href="/" target="_blank") 
                                                i.fab.fa-skype
                                        li
                                            a(href="/" target="_blank") 
                                                i.fab.fa-telegram-plane                               
                            .col-12.col-lg-6.offset-lg-1.mb-4.mb-lg-5
                                .panel
                                    h3.text-costom.text-center.mb-3 Контактная форма
                                    p.text-center.px-lg-4.mb-4 Если у вас есть вопросы или предложения, то пожалуйста, заполните и отправьте нам форму. Спасибо!
                                    form
                                      .form-group
                                        input.form-control(type='text', placeholder='Имя *')
                                      .form-group
                                        input.form-control(type='text', placeholder='E-mail *')
                                      .form-group
                                        input.form-control(type='text', placeholder='Тема сообщения *')
                                      .form-group
                                        textarea.form-control.form-control-text-areas(type='text', placeholder='Текст сообщения *', rows="1")
                                      button.btn.btn-gradient.btn-block(type='submit') Отправить сообщение
                                      

                            .col-12
                                .contacts-map
                                    #map_canvas
                                        script.
                                          function initMap() {
                                              var  map = new google.maps.Map(document.getElementById('map_canvas'), {
                                                  center: {lat: 50.5172959, lng: 30.4420863},
                                                  zoom: 17,
                                                  panControl: false,
                                                  zoomControl: false,
                                                  scaleControl: false,
                                                  disableDefaultUI: true,
                                                  scrollwheel: false,
                                              });
                                          
                                              var marker = new google.maps.Marker({
                                                  position: {lat: 50.5172959, lng: 30.4420863},
                                                  map: map,
                                                  title: 'улица Леси Украинки, дом 3, офис 30112'
                                              });
                                          }
            include components/footer.pug                 
        a.scroll.js-scroller(href="")
            span    
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAyB0XUqwQD7Ip9FIu_zpKGH5HAahW7foo&language=ru&callback=initMap')
        include components/script.pug