doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(rel="shortcut icon" href="" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/all.css")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/v4-shims.min.css")
        link(rel='stylesheet' href='plugins/bootstrap/bootstrap.css')
        link(rel='stylesheet' href='css/styles.min.css')
        title EmpireHome
    body
        .main-wrapper
            include components/header.pug
            main.content
                section.pages.pt-5.pb-5
                    .container
                        .row
                            .col-12
                                h1.title.mb-5 Страницы
                            .col-12
                                ul
                                    li.mb-3
                                        a(href="403.html")
                                            h6  403
                                    li.mb-3
                                        a(href="404.html")
                                            h6  404
                                    li.mb-3
                                        a(href="500.html")
                                            h6  500
                                    li.mb-3
                                        a(href="faq.html")
                                            h6  Вопрос ответ
                                    li.mb-3
                                        a(href="contact.html")
                                            h6  Контакты
                                    li.mb-3.border-top
                                        a(href="auth.html")
                                            h6  Авторизация
                                    li.mb-3
                                        a(href="reg.html")
                                            h6  Регистрация
                                    li.mb-3
                                        a(href="news-list.html")
                                            h6  Список  новостей
                                    li.mb-3
                                        a(href="news.html")
                                            h6  Просмотр новости
                                    li.mb-3
                                        a(href="cart-list.html")
                                            h6   Список товаров категории магазина
                                    li.mb-3
                                        a(href="cart.html")
                                            h6   Просмотр товара
                                    li.mb-3
                                        a(href="cash.html")
                                            h6   Карзина
                                    li.mb-3
                                        a(href="template.html")
                                            h6  Шаблон
            include components/footer.pug                 
        a.scroll.js-scroll(href="")
            span    
        include components/script.pug