doctype html
html(lang="ru")
    head
        meta(charset ='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description' content='')
        meta(name='viewport' content='initial-scale=1.0, width=device-width')
        link(rel="shortcut icon" href="" type="image/x-icon")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/all.css")
        link(rel="stylesheet" type="text/css" href="./fonts/font-awesome/css/v4-shims.min.css")
        link(rel="stylesheet" type="text/css" href="./css/slick.css")
        link(rel="stylesheet" type="text/css" href="./css/slick-theme.css")
        link(rel="stylesheet" type="text/css" href="./css/jquery.scrollbar.css")
        link(rel='stylesheet' href='plugins/bootstrap/bootstrap.css')
        link(rel='stylesheet' href='css/styles.min.css')
        title EmpireHome
    body
        .main-wrapper
            include components/header.pug
            main.content
              section.mb-4
                .container
                  .row
                    .col-12.mb20
                      nav(aria-label='breadcrumb')
                        ol.breadcrumb
                          li.breadcrumb-item
                            a(href='#') Главная
                          li.breadcrumb-item
                            a(href='#') Общая страница
                          li.breadcrumb-item.active(aria-current='page') Публичный договор – оферта
              section.template.pb-5
                .container
                    .row
                        .col-12
                            h3.mb-5 Контакты
                        .col-12
                            h5.mb-3 1. Термины и определения
                            ul.template-list.mb-5
                                li 1.1 Акцепт - полное и безоговорочное принятие Участником Оферты путем регистрации на Сайте.
                                li 1.2 Договор - настоящий договор присоединения, заключенный между Организатором и Участником, выразившим Акцепт в порядке, определенном Договором.
                                li 1.3. Личный кабинет – закрытый (защищенный) раздел Сайта, расположенный по адресу http://www.company.com, позволяющий Участнику после прохождения регистрации и оплаты Продукта получить к нему доступ, сообщать и получать информацию об исполнении Договора, а также совершать иные действия в рамках исполнения Договора.
                                li 1.4. Организатор - ООО «Company», оказывающий услуги в соответствии с Договором и информацией на Сайте.
                                li 1.5. Оферта – опубликованное на Сайте адресованное неопределенному кругу физических лиц публичное предложение (публичная оферта) Организатора заключить с ним Договор на содержащихся в нем условиях, а также с учетом содержащейся на Сайте информации.
                                li 1.6. Продукт – совокупность организуемых и транслируемых Организатором в онлайн режиме посредством Сайта уроков, вебинаров, практических тренингов (коучинг), мастер-классов, консультаций, видео материалов, а также проводимых в офлайн режиме мероприятий, перечень которых указывается на Сайте.
                                li 1.7. Программа 1 – Продукт, включающий в себя упрощенный набор мероприятий и материалов в соответствии с информацией на Сайте.
                                li 1.8. Программа 2 – Продукт, включающий в себя помимо мероприятий и материалов Программы 1 также дополнительные мероприятия и материалы в соответствии с информацией на Сайте.
                                li 1.9. Сайт – совокупность принадлежащих Организатору информационных ресурсов, размещенных в глобальной компьютерной сети Интернет по адресу http://www.company.com.
                                li 1.10. Участник – физическое лицо, выразившее в установленном Договором порядке Акцепт и желающее приобрести один из Продуктов в соответствии с Договором.
                                li 1.11. Сторона – Участник или Организатор, действующие по отдельности.
                                li 1.12. Стороны – Участник и Организатор, действующие отдельно.
                                li 1.13. ID Участника – уникальный идентификационный номер, присваиваемый Участнику при регистрации на Сайте.

                            h5.mb-3 2. Общие положения
                            ul.template-list.mb-5
                                li 2.1. Договор между Участником и Организатором заключается в момент Акцепта Оферты Участником путем регистрации на Сайте.
                                li 2.2. С момента Акцепта Оферты Договор считается заключенным в простой письменной форме, не требует оформления на бумаге и обладает полной юридической силой.
                                li 2.3. Совершая Акцепт Участник подтверждает свою полную правоспособность и дееспособность, в частности, достижение возраста 18 лет, законное право заключить Договор с Организатором, распоряжаться своими персональными данными.
                                li 2.4. Участник несёт ответственность за содержание и достоверность информации, предоставленной при осуществлении регистрации на Сайте.


                            h5.mb-3 3. Предмет договора
                            ul.template-list.mb-5
                                li 3.1. В соответствии с Договором Организатор обязуется организовать проведение, а также предоставить Участнику доступ к урокам, вебинарам, практическим тренингам (коучинг), мастер-классам, консультациям, видео материалам, а также проводимым в офлайн режиме мероприятиям, входящих в приобретенный Участником Продукт (по Программе 1 или Программе 2), а Участник обязуется оплатить Продукт в соответствии с условиями Договора.
                                li 3.2. Перечень мероприятий и материалов, включаемых в Продукт (по Программе 1 или Программе 2) указывается Организатором на Сайте. Участник подтверждает ознакомление с изложенной на Сайте информацией при Акцепте Оферты.
        include components/footer.pug                 
        a.scroll.js-scroll(href="")
            span    
        include components/script.pug

